html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
html #main,
body #main {
  width: 100%;
}
html #main .area,
body #main .area {
  width: 100%;
}
html #main .area .area-content,
body #main .area .area-content {
  width: 85%;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}