header {
    width: 100%;
    text-align: center;
    padding: 50px 0;
}

header #profile-picture {
    width: 10%;
    border-radius: 50%;
    border: 5px solid #212121;
}

.quote {
    color: #aaa;
    font-style: italic;
    position: relative;
}

header img {
    animation: alternateColor 3s ease-in-out infinite;
    -webkit-animation: alternateColor 3s ease-in-out infinite;
    -o-animation: alternateColor 3s ease-in-out infinite;
    -moz-animation: alternateColor 3s ease-in-out infinite;
}

@keyframes alternateColor {
    0% {
        filter: grayscale(1);
    }
    50% {
        filter: grayscale(0);
    }
    100% {
        filter: grayscale(1);
    }
}

@-o-keyframes alternateColor {
    0% {
        filter: grayscale(1);
    }
    50% {
        filter: grayscale(0);
    }
    100% {
        filter: grayscale(1);
    }
}

@-webkit-keyframes alternateColor {
    0% {
        filter: grayscale(1);
    }
    50% {
        filter: grayscale(0);
    }
    100% {
        filter: grayscale(1);
    }
}

@-moz-keyframes alternateColor {
    0% {
        filter: grayscale(1);
    }
    50% {
        filter: grayscale(0);
    }
    100% {
        filter: grayscale(1);
    }
}