#posts {
    margin-top: 30px;
    margin-bottom: 30px;
}

#posts:not(.loading) .loading-posts-area {
    display: none;
}

#posts:not(.no-posts) article {
    display: block;
    position: relative;
}

#posts article, #posts .no-posts-area, #posts .loading-posts-area {
    text-align: left;
    border: 1px dotted #aaa;
    padding: 30px 10px; 
    margin-bottom: 10px;
}

#posts:not(.no-posts) .no-posts-area {
    display: none;
}

#posts.no-posts .no-posts-area, #posts .loading-posts-area {
    text-align: center;
    display: block;
}

#posts.no-posts article {
    display: none;
}

#posts article h2 {
    margin-bottom: 10px;
}

#posts article a {
    float: right;
}

#posts article span.post-date {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 10px;
    color: #aaa;
}